<head>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>



<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://dirtymartini.uk.com/wp-content/uploads/2015/12/Cocktails-new-2000x769-1.jpg');">
  <div class="banner-content">
    <h1>JLS's Cocktails </h1>
    <a class="btn-treehouse" href="https:www.youtube.com/watch?v=gIlGnaefCck">Cocktail of the day </a>
    <%= link_to 'New cocktail', new_cocktail_path, class: 'btn-treehouse' %>
  </div>
</div>
<div class="row">

<% @cocktails.each do |cocktail| %>
  <div class="col-sm-12 col-md-4">


  <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>

  <% if cocktail.photo.url %>
  <div class="card"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
    <div class="card-category">Popular</div>
    <div class="card-description">
      <h2> LA TIZE</h2>
    </div>
    <a class="card-link" href="#" ></a>
  </div>

  <% else %>
  <div class="card"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('http://cdn1-www.mandatory.com/assets/uploads/2015/07/man_file_1060278_drunk+guy.jpg');background-repeat: no-repeat;">
    <div class="card-category">Popular</div>
    <div class="card-description">
      <h2>LA TIZE</h2>
    </div>
    <a class="card-link" href="#" ></a>
  </div>
  <% end %>

  </div>
<% end %>
</div>





